@use "../variables" as v; 


// =================================
// POKEBALL / POKEMON FLEX CONTAINER
// =================================
.flexContainer {
  min-height: 60vh;
  display: flex;
  
  justify-content: space-between;
  align-items: center;
  .searchContainer {
    width: 25%; 
    padding-left: 4rem;
  }
  .pokemonContainer {
    width: 42%;
    margin-left: 1rem;
  }
  .funFactContainer  {
    width: 25%;
    padding-right: 4rem;
    h2 {
      padding-bottom: 3rem;
    }
  }
} 

