@use "../variables" as v; 


// =================================
// POKEBALL / POKEMON FLEX CONTAINER
// =================================
.flexContainer {
  min-height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .searchContainer {
    width: 24%; 
    padding-left: 3rem;
    
  }
  .pokemonContainer {
    width: 43%;
    margin-left: 2.1rem;
  }
  .funFactContainer  {
    width: 27%;
    padding-right: 3rem;
    padding-left: 1rem;
    h2 {
      padding-bottom: 1.5rem;
    }
  }
} 

