@use "./variables" as v;

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

img {
  max-width: 75%;
}

h1, h2, h3, div, p, ul {
  margin: 0; 
  padding: 0
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}