@use "./variables";

@media (max-width: 1050px) {
  /* all of our styles for smaller DESKTOP devices will go within this breakpoint */
  header {
    .headerContainer {
      min-height: 57rem;
      max-height: 57rem;
      font-size: 3rem;
      .banner {
        min-width: 85%;
      }
      }
  }
}


@media (max-width: 880px) {
  header {
    .headerContainer {
      min-height: 57rem;
      max-height: 57rem;
      font-size: 2.8rem;
      .banner {
        min-width: 85%;
      }
      }
  }
}


@media (max-width: 1000px) {
  /* all of our styles for smaller DESKTOP devices will go within this breakpoint */
}

@media (max-width: 880px) {
  .headerContainer {
    font-size: 2.9rem;
  }
}

@media (max-width: 500px) {
  /* all of our styles for MOBILE devices will go within this breakpoint */
}