@use "./variables" as v; 

// Typography
html {
  font-size: 62.5%;
}

body {
  font-family: v.$marhey;
  font-size: 1.6rem;
  letter-spacing: 0.12rem;
}

.headerContainer {
  color: v.$blue;
  font-size: 3.3rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  text-align: center;
  h1 {
    text-shadow: -4px 1px 0px v.$yellow;
  }
  .arrow {
    font-size: 4rem;
  }
}
