// ================
//  COLOUR PALETTE 
// ================

// BACKGROUNDS
// red background: rgba(239, 64, 54, 0.9); 
// grey background: rgba(211,211,211, 0.2); 
// white: #FFF;

// BOX SHADOWS
// red box shadow: #F91307; 
// grey box shadow: #B7B7B7;

// TEXT
// blue: #3264B0; 
// yellow: #FFCC00;


// ==================
//  COLOUR VARIABLES
// ==================

// backgrounds
$redBackground: rgba(239, 64, 54, 0.87);
$greyBackground: rgba(211,211,211, 0.3); 
$white: #FFF;

// box shadows
$redShadow: #F91307;
$greyShadow: #B7B7B7;

// text
$blue: #3264B0;
$yellow: #FFCC00;


// ==================
//  FONT FAMILIES
// ==================

$marhey: "Marhey", cursive; 
$manrope: "Manrope", sans-serif;
