
// ==================
//  COLOUR VARIABLES
// ==================

// backgrounds
$greyBackground: rgba(211,211,211, 0.3); 
$white: #FFF;

// box shadows
$redShadow: #F91307;
$greyShadow: #B7B7B7;

// text
$blue: #3264B0;
$yellow: #FFCC00;
$red: rgb(239, 64, 54);
$grey: rgb(88, 88, 90);


// ==================
//  FONT FAMILIES
// ==================

$marhey: "Marhey", cursive; 
$manrope: "Manrope", sans-serif;
