@use "../variables" as v; 

// General styling
main {
  background-image: url(../assests/main-background.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;
  .mainContainer {
    background-color: v.$white;  
    min-height: 75vh;
    box-shadow: -1px 1px 23px 9px v.$greyShadow;
    border-radius: 50px;
    padding: 5rem 0;
  }
}

// Flex container
.flexContainer {
  min-height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .pokeballContainer,
  .pokemonContainer  {
    width: 50%;
  }
  .pokemonContainer {
    min-height: 50vh;
    padding-left: 7rem;
  }
}

// Pokeball button 
#clickPokeball {
  background-color: v.$white;
  border: none;
  width: 40%;
  margin-left: 70px;
  padding-top: 25px;
}
.pokeball {
  max-width: 80%;
}

// Pikachu 
.pikachuText {
  transform: translateY(40px);
  margin-left: 10rem;
  padding-right: 3rem;
}


