//  double everything 
.pokemonInfo {
    height: 30rem;
    width: 30rem;
}

.pokemonName,
.pokemonTypes {
    text-transform: uppercase;
    text-align: center;
}

// .pokemonName {
//     margin-right: 1rem;
// }

// .pokemonIndex {
//     font-size: 1.25rem;
//     padding-top: 0.15rem;
// }

// .pokemonTypes {
//     display: flex;
//     justify-content: center;
// }

.primaryType, 
.secondaryType {
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding:  0.5rem;
    margin-right: 1rem;
    width: 6rem;
    text-align: center;
}

// .nameAndIndex {
//     display: flex;
//     justify-content: center;
// }

.pokemonSpriteContainer img {
    max-width: 100%;
}

.pokemonSpriteContainer {
    margin: 0 auto;
    width: 50%;
}

