html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background: #fff;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

img {
  max-width: 75%;
}

h1, h2, h3, div, p, ul, footer {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Marhey", cursive;
  font-size: 1.8rem;
  letter-spacing: 0.12rem;
}

h1, h2, h3, h4 {
  margin: 0;
}

.headerContainer {
  color: #3264B0;
  font-size: 3.5rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  text-align: center;
}
.headerContainer h1 {
  text-shadow: -4px 1px 0px #FFCC00;
}
.headerContainer .arrow {
  font-size: 4rem;
}

.pokemonInfo,
.landingPage,
.pikachuText,
footer {
  text-align: center;
}

.nameAndIndex {
  text-transform: capitalize;
}

.pokemonIndex {
  font-size: 2rem;
}

.primaryType,
.secondaryType {
  text-align: center;
  text-shadow: -0.5px 0.2px 0px white;
}

.funFactContainer {
  color: rgb(88, 88, 90);
}
.funFactContainer .funFact {
  color: rgb(239, 64, 54);
  text-shadow: 1px 0.2px 0px black;
}
.funFactContainer .randomQuote {
  font-family: "Manrope", sans-serif;
  line-height: 2.5rem;
}

footer {
  font-size: 1.5rem;
}

header {
  background-image: url(../assets/header-background.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0;
  border-bottom: 2px solid black;
}
header .headerContainer {
  min-height: 65rem;
  max-height: 65rem;
  background-color: rgb(255, 255, 255);
  border: 5px solid rgb(20, 20, 20);
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .headerContainer .banner {
  max-width: 72%;
  padding-top: 2.4rem;
}
header .headerContainer .arrow {
  position: relative;
  top: 5rem;
  font-size: 5rem;
}
header .headerContainer .arrow:hover, header .headerContainer .arrow:focus {
  -webkit-transform: scale(1.13);
          transform: scale(1.13);
}

main {
  background-image: url(../assets/main-background.jpg);
  background-size: cover;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem auto;
  padding-top: 5rem;
  padding-bottom: 8rem;
  border-top: 2px solid black;
  border-top: 2px solid black;
}
main .mainContainer {
  background-color: #FFF;
  -webkit-box-shadow: -1px 1px 23px 9px #B7B7B7;
          box-shadow: -1px 1px 23px 9px #B7B7B7;
  min-height: 60rem;
  max-height: 60rem;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5rem;
}

.flexContainer {
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flexContainer .searchContainer {
  width: 20%;
}
.flexContainer .pokemonContainer {
  width: 42%;
  margin-left: 3rem;
}
.flexContainer .funFactContainer {
  width: 25%;
  padding-right: 4rem;
}
.flexContainer .funFactContainer h2 {
  padding-bottom: 3rem;
}

.buttonAndInput {
  background: rgb(236, 233, 233);
  height: 5.5rem;
  border-radius: 5rem;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid black;
  width: 20rem;
}

.searchButton {
  border: none;
  border-radius: 50%;
  padding: 0.75rem;
  margin-left: -9rem;
  color: white;
  background: rgb(239, 64, 54);
  cursor: pointer;
}
.searchButton:hover, .searchButton:focus {
  opacity: 0.8;
}

.searchByNameOrId {
  font-family: "Marhey", cursive;
  border: none;
  outline: none;
  margin-left: 1rem;
  color: black;
  background: none;
  width: 22.5rem;
}
.searchByNameOrId::-webkit-input-placeholder {
  color: black;
}
.searchByNameOrId::-moz-placeholder {
  color: black;
}
.searchByNameOrId:-ms-input-placeholder {
  color: black;
}
.searchByNameOrId::-ms-input-placeholder {
  color: black;
}
.searchByNameOrId::placeholder {
  color: black;
}

.fa-magnifying-glass {
  padding: 0.4rem;
  margin: 0;
}

form {
  width: 90%;
}

.pokeballContainer #clickPokeball {
  background-color: #FFF;
  border: none;
  width: 65%;
  margin-left: 8rem;
}
.pokeballContainer .pokeball {
  max-width: 90%;
  padding-bottom: 2rem;
}
.pokeballContainer .pokeball:hover, .pokeballContainer .pokeball:focus {
  -webkit-transform: scale(1.13);
          transform: scale(1.13);
}

.landingPage {
  border-radius: 4.1rem;
  padding: 2rem 4rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#FBFBFB), to(rgba(244, 210, 60, 0.7)));
  background-image: linear-gradient(to right, #FBFBFB, rgba(244, 210, 60, 0.7));
  border: 2px solid #58585A;
  min-height: 55rem;
  max-height: 55rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.25rem;
}

.pikachuText {
  background-color: white;
  border-radius: 1.7rem;
  padding: 1.5rem 2rem 1rem;
  border: 1.5px solid #58585A;
}

.pikachuImg {
  margin-left: 5.1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pokemonInfo {
  border: 0.2rem solid #58585A;
  display: none;
  border-radius: 4.1rem;
  padding: 2rem 4rem 1rem;
  min-height: 55rem;
  max-height: 55rem;
}
.pokemonInfo .nameAndIndex {
  border: 0.15rem solid #58585A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2.5rem;
  background-color: white;
  border-radius: 1.7rem;
  padding: 0.8rem 0 0.7rem;
}
.pokemonInfo .nameAndIndex .pokemonName {
  padding-right: 3rem;
}
.pokemonInfo .nameAndIndex .pokemonIndex {
  padding-top: 0.3rem;
}
.pokemonInfo .primaryType,
.pokemonInfo .secondaryType {
  border: 1.5px solid black;
  border-radius: 1.2rem;
  padding: 0.3rem 1rem;
  margin-right: 2rem;
  width: 12rem;
}
.pokemonInfo .pokemonSpriteContainer {
  padding-top: 3.5rem;
  -ms-flex-item-align: center;
      align-self: center;
}

.pokemonStats {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  bottom: 7.5rem;
  padding-top: 2.5rem;
}

.statContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
  margin-left: -2rem;
  font-size: 1.3rem;
}

.fa-solid {
  padding-right: 0.4rem;
}

.statNameAndValue p {
  padding-top: 0.5rem;
}

footer {
  background-color: rgb(239, 64, 54);
  min-height: 20vh;
  padding: 1.5rem 0;
  border-top: 2px solid black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 2rem;
  width: 30rem;
  margin: 1rem auto;
  color: black;
  text-shadow: none;
}
footer .footerContainer .and {
  padding: 0 3rem;
}
footer .footerContainer .students {
  padding: 1.2rem 0;
}
footer .footerContainer i {
  padding: 0.5rem;
}

footer p {
  min-width: 5rem;
}

footer a:hover, footer a:focus {
  color: black;
}